{% extends ea.templatePath('layout') %}
{% trans_default_domain ea.i18n.translationDomain %}

{% block configured_stylesheets %}
    {{ parent() }}
    <!-- Core DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <!-- FontAwesome CSS for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block configured_javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable({
                // DataTables options
                paging: true,
                searching: true,
                ordering: true
            });
        });
    </script>
{% endblock %}

{% block content_title %}
    {%- apply spaceless -%}
        {% set custom_page_title = ea.crud.customPageTitle('index', null, ea.i18n.translationParameters, ea.i18n.translationDomain) %}
        {{ custom_page_title is null
        ? ea.crud.defaultPageTitle('index', null, ea.i18n.translationParameters)|trans|raw
        : custom_page_title|trans|raw }}
    {%- endapply -%}
{% endblock %}

{% block page_actions %}
    <div class="global-actions">
        <a href="{{ ea_url().setAction('new') }}" class="btn btn-primary">
            {{ 'action.new'|trans({'%entity_label_singular%': entityLabel}, 'EasyAdminBundle') }}
        </a>
    </div>
{% endblock %}


{% block main %}
    <table id="dataTable" class="table">
        <thead>
        <tr>
            {% for field in fields %}
                <th>{{ field.label }}</th>
            {% endfor %}
            <th>{{ 'Actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {% for field in fields %}
                    <td>{{ attribute(entity, field.property) }}</td>
                {% endfor %}
                <td>
                    {% for action in actions %}
                        {% set actionUrl = ea_url().setAction(action.name).setEntityId(entity.id) %}
                        <a href="{{ actionUrl }}"
                           class="btn btn-sm {{ action.cssClass }} {% if action.type == "batch" or action.type == "global" %}d-none{% endif %}"
                           title="{{ action.label|trans }}"
                        >
                            {% if action.icon %}
                                <i class="fa {{ action.icon }}"></i>
                            {% else %}
                                {{ action.label|trans }}
                            {% endif %}
                        </a>
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="{{ fields|length + 1 }}">{{ 'No results found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
