{% extends '@EasyAdmin/page/content.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendar') }}
{#    {{ encore_entry_link_tags('chosen') }}#}
{% endblock %}

{% block content_title %}Interviews{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-3">
            {% if is_granted("ROLE_HR_MANAGER") %}
                <div class="mb-4">
                    <button id="add-interview"  class="btn btn-primary w-100 pb-2 pt-2"><i class="fa-solid fa-plus"></i> Create New Event</button>

                </div>
            {% endif  %}
            <div>
                <h5 class="mb-2">Upcoming Interviews</h5>
                <p class="text-muted mb-4">Don't miss scheduled events</p>
                {% for interview in upcomingInterviews %}
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div class="d-flex align-items-center">
                                    <i class="fa-regular fa-calendar-days text-info me-2"></i>
                                    <span class="fw-semibold">{{ interview.date }}</span>
                                </div>

                                <span class="badge bg-warning"><i class="fa-solid fa-clock"></i> {{ interview.time }}</span>
                            </div>
                            <h6 class="card-title fs-16 mb-2">{{ interview.candidate }}</h6>
                            <div class="mb-2">
                                <i class="mdi mdi-map-marker text-muted me-1"></i>
                                <span class="text-muted">{{ interview.location }}</span>
                            </div>
                            <div class="d-flex flex-wrap">
                                {% for evaluator in interview.evaluators %}
                                    <span class="badge bg-secondary me-2 mb-2">{{ evaluator.getFullName() }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>


        </div>
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="interviewModal" tabindex="-1" aria-labelledby="interviewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="interviewModalLabel">New Interview</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_start(form, {'attr': {'id': 'interviewForm'}}) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">Save Interview</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for Showing Interview Details -->
    <div class="modal fade" id="interviewDetailsModal" tabindex="-1" aria-labelledby="interviewDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="interviewDetailsModalLabel">Interview Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <input id="interview-id" type="hidden" value="">
                <div class="modal-body">
                    <div class="mb-3">
                        <strong>Location:</strong>
                        <span class="badge badge-info" id="interview-details-location"></span>
                    </div>
                    <div class="mb-3">
                        <strong>Candidate:</strong>
                        <span class="badge badge-primary" id="interview-details-candidate"></span>
                    </div>
                    <div class="mb-3">
                        <strong>Evaluators:</strong>
                        <span class="badge badge-secondary" id="interview-details-evaluators"></span>
                    </div>
                    <div class="mb-3">
                        <strong>Date:</strong>
                        <span class="badge badge-warning" id="interview-details-date"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="interview-delete" class="btn btn-danger"><i class="fa-solid fa-xmark"></i> Delete</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    {{ encore_entry_script_tags('calendar') }}
{% endblock %}